@use "../../breakpoints";
@use "../../variables";

:host {
  background-color: variables.$colour-white;
  display: flex;
  flex-direction: column;
  width: 0; // The side bar is not shown on mobile.
  height: 100vh;
  overflow-y: hidden;

  @include breakpoints.tablet() {
    width: 200px;
  }

  @include breakpoints.desktop() {
    width: 250px;
  }
}

.Content {
  overflow-y: scroll;
  height: 100%;
  transition: margin 700ms;

  &::-webkit-scrollbar {
    display: none;
  }
}

.AccountSection {
  margin-top: auto;
  padding: variables.$spacing-xsmall;
  border-top: variables.$border;
}

.PushToBottom {
  flex-grow: 1;
  transition: all 250ms ease-in-out;
}

.PushToTop {
  flex-grow: 0;
  transition: all 250ms ease-in-out;
}

.MoveItems {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.BoardsMenu {
  animation: fadeInFromNone 150ms ease-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


