@use "../../breakpoints";
@use "../../variables";

:host {
  display: flex;
  flex-direction: column;
  width: 0; // The side bar is not shown on mobile.
  height: 100%;
  overflow-y: hidden;

  @include breakpoints.tablet() {
    width: 200px;
  }

  @include breakpoints.desktop() {
    width: 250px;
  }
}

.Content {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.AccountSection {
  margin-top: auto;
  padding: variables.$spacing-xsmall;
  border-top: variables.$border;
}



.BoardsSection {



}