@use "../../../variables";

:host {
  display: block;
}

.Item {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: variables.$spacing-xsmall variables.$spacing-small;

  &:hover {
    background-color: variables.$colour-hover;
  }
}

.Active {
  background-color: variables.$colour-active !important;
}