@use "../../../variables";
@use "../../../mixins";

:host {
  display: block;
}

.Item {
  @include mixins.Clickable(variables.$colour-hover);

  display: flex;
  align-items: center;
  width: 100%;
  padding: variables.$spacing-xsmall variables.$spacing-small;
}

.Active {
  background-color: variables.$colour-active !important;
}