@use "../../../variables";

:host {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: variables.$spacing-xsmall variables.$spacing-small;

  &[data-top-border="true"] {
    border-top: variables.$border;
  }

  &[data-bottom-border="true"] {
    border-bottom: variables.$border;
  }

  &:hover {
    background-color: variables.$colour-hover;
  }
}

