@use "../../../variables";
@use "../../../mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Objective {
  @include mixins.BoxBorder();
  @include mixins.Clickable();

  &[data-dragging="true"] {
    @include mixins.BoxBorderDragging();
  }

  background-color: variables.$objective-bg-colour;
  height: variables.$objective-item-height;
  padding: variables.$spacing-mid;
}