@use "../../variables";
@use "../../breakpoints";
@use "../../flex";

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Center {
  display: flex;
  width: 100%;
  max-width: variables.$page-width;
  padding-left: variables.$spacing-small;
  padding-right: variables.$spacing-small;

  @include flex.FlexDirectionGenerator();
  @include flex.FlexJustifyGenerator();
  @include flex.FlexAlignItemsGenerator();

  @include breakpoints.tablet() {
    @include flex.FlexDirectionGenerator(tablet);
    @include flex.FlexJustifyGenerator(tablet);
    @include flex.FlexAlignItemsGenerator(tablet);
  }

  @include breakpoints.desktop() {
    @include flex.FlexDirectionGenerator(desktop);
    @include flex.FlexJustifyGenerator(desktop);
    @include flex.FlexAlignItemsGenerator(desktop);
  }

  @include breakpoints.tablet() {
    max-width: variables.$page-width-tablet;
  }

  @include breakpoints.desktop() {
    max-width: variables.$page-width-desktop;
  }
}