rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  	match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /enterprises/{enterpriseId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /teams/{teamId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /logs/{logId} {
      allow read: if False;
      allow write: if request.auth != null;
    }

    match /earlyAccess/{logId} {
      allow read: if false;
      allow write: if true;
      allow update: if false;
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}