@use "../../variables";

:host {
  display: flex;
  width: 100%;
}

.TextArea {
  width: 100%;
  resize: none;
  background-color: transparent;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  box-sizing: border-box;
  border: variables.$border;
  border-radius: variables.$border-radius;
  padding: variables.$spacing-xsmall;
  font-size: variables.$font-mid;
  margin: 0;


  &:focus-visible {
    outline: none;
  }
}