@use "../../../variables";
@use "../../../mixins";

:host {
  @include mixins.BoxBorder();
  @include mixins.Clickable(variables.$colour-hover);

  align-items: center;
  display: flex;
  height: variables.$objective-item-height;
  padding: variables.$spacing-mid;
  width: 100%;

  &[clicked="true"] {
    background-color: variables.$colour-white !important;
    cursor: default;
    height: auto;
  }
}