@use '../../text';
@use '../../breakpoints';

:host {
  display: inline-block;
  margin: 0;
  padding: 0;
  word-break: break-word;
  text-decoration: none;
  width: fit-content;

  &[data-unselectable="true"] {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  &[data-clickable='true'] {
    cursor: pointer;
  }

  &[data-text-truncate='true'] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &[data-type='span'] {
    display: inline-block;
  }

  &[data-text-display='inline-block'] {
    display: inline-block;
  }

  &[data-text-align='center'] {
    text-align: center;
    width: 100%;
  }

  &[data-text-align='left'] {
    text-align: left;
  }

  &[data-text-align='right'] {
    text-align: right;
  }

  &[data-text-truncate='true'] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  @include text.TextWeightGenerator();
  @include text.TextColourGenerator();
  @include text.TextTransformGenerator();
  @include text.TextSizeGenerator();

  @include breakpoints.tablet() {
    @include text.TextSizeGenerator(tablet);
  }

  @include breakpoints.desktop() {
    @include text.TextSizeGenerator(desktop);
  }

}
