@use "../../variables";

:host {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: variables.$bottom-bar-height;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: variables.$spacing-xxxsmall;
  border-top: 1px solid variables.$colour-xlight-grey;
  background-color: variables.$colour-light-bg;
}