@use "../../../variables";
@use "../../../mixins";

:host {
  display: flex;
  align-items: center;
  width: 100%;

  &[data-dragging="true"] {
    width: 50%;
  }
}

.Container {
  @include mixins.BoxBorder();
  @include mixins.Clickable(darken(variables.$colour-white, 4%));

  height: variables.$key-result-item-height;
  padding: variables.$spacing-small variables.$spacing-mid;
  background-color: darken(variables.$colour-white, 3%);
}