@use "../../../variables";
@use "../../../mixins";

:host {
  display: flex;
  align-items: center;
  width: 100%;
}

.Container {
  @include mixins.BoxBorder();
  @include mixins.Clickable();

  height: variables.$key-result-item-height;
  padding: variables.$spacing-small variables.$spacing-mid;
  background-color: variables.$key-result-bg-colour;

  &[data-dragging="true"] {
    border: variables.$border-dragging;
  }
}