@use "../../../variables";

:host {
  display: block;
}

.SideBarActive {
  background-color: variables.$colour-active !important;
}

.Title {
  padding: variables.$spacing-xsmall variables.$spacing-small;
}