@use "variables";
@use "breakpoints";

:host {
  display: flex;
  padding: variables.$spacing-large;

  &[data-flex-direction='column'] {
    flex-direction: column;

    &[data-center-content='true'] {
      align-items: center;
    }
  }

  &[data-flex-direction='row'] {
    flex-direction: row;

    &[data-center-content='true'] {
      justify-content: center;
    }
  }

  @include breakpoints.tablet() {
    padding: variables.$spacing-small;
  }
}
