@use "variables";
@use "breakpoints";

.Content {
  width: 100%;
}

.Navigation {
  position: fixed;
  z-index: variables.$logged-out-nav-z-index;
}

.NavArea {
  height: variables.$logged-out-nav-height;

  @include breakpoints.tablet() {
    height: variables.$logged-out-nav-height-desktop;
  }
}