@use "../../breakpoints";
@use "../../flex";

:host {
  display: flex;

  &[data-full-width="true"] {
    width: 100%;
  }

  &[data-flex-grow="true"] {
    flex-grow: 1;
  }

  &[data-center='true'] {
    margin-right: auto;
    margin-left: auto;
  }

  @include flex.FlexDirectionGenerator();
  @include flex.FlexJustifyGenerator();
  @include flex.FlexAlignItemsGenerator();

  @include breakpoints.tablet() {
    @include flex.FlexDirectionGenerator(tablet);
    @include flex.FlexJustifyGenerator(tablet);
    @include flex.FlexAlignItemsGenerator(tablet);
  }

  @include breakpoints.desktop() {
    @include flex.FlexDirectionGenerator(desktop);
    @include flex.FlexJustifyGenerator(desktop);
    @include flex.FlexAlignItemsGenerator(desktop);
  }
}


