@import 'variables';
@use 'text';
@use 'breakpoints';

:host {
  display: inline;
  margin: 0;
  padding: 0;
  word-break: break-word;
  text-decoration: none;
  width: fit-content;

  &[data-text-truncate='true'] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &[data-type='span'] {
    display: inline-block;
  }

  &[data-text-display='inline-block'] {
    display: inline-block;
  }

  &[data-text-align='center'] {
    text-align: center;
    width: 100%;
  }

  &[data-text-align='left'] {
    text-align: left;
  }

  &[data-text-align='right'] {
    text-align: right;
  }

  &[data-text-truncate='true'] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  &[data-font-colour='grey'] {
    color: $colour-accent;
  }

  &[data-font-colour='achieved'] {
    color: $font-colour-achieved;
  }

  &[data-font-colour='success'] {
    color: $font-colour-success;
  }

  &[data-font-colour='danger'] {
    color: $font-colour-danger;
  }

<<<<<<< HEAD
  @include text.TextWeightGenerator();
  @include text.TextColourGenerator();
  @include text.TextTransformGenerator();
  @include text.TextSizeGenerator();
=======
  &[data-font-colour='heading-dark-grey'] {
    color: $font-colour-dark-grey;
  }


  @include TextWeightGenerator();
  @include TextColourGenerator();
  @include TextTransformGenerator();
>>>>>>> 0d75837 (Changed main cards functionality)

  @include breakpoints.tablet() {
    @include text.TextSizeGenerator(tablet);
  }

  @include breakpoints.desktop() {
    @include text.TextSizeGenerator(desktop);
  }

}
