/* Colours */
$colour-primary: #007770;
$colour-accent: #c0bfbf;
$colour-dark: #14100d;
$colour-white: #f6f6f5;
$colour-green: #2ac680;
$colour-red: #ff3640;
$colour-light-green: #52b4b0;
$colour-light-grey: #f6f6f6;
$colour-mid-grey: #f6f6f6;
$colour-dark-grey: #93908d;
$colour-achieved: #1B6215;

/* Font Colours */
$font-colour-dark: $colour-dark;
$font-colour-mid: $colour-accent;
$font-colour-success: $colour-green;
$font-colour-danger: $colour-red;
$font-colour-achieved: $colour-achieved;
