@use 'variables';

:host {
  display: block;
}

nav {
  padding: variables.$spacing-xxxsmall variables.$spacing-large;
  background-color: #4B48B5;
  width: 100%;
}

nav.flex {
  justify-content: space-between;
}

nav .nav-links-container .active {
  color: #ffffff;
}

nav .nav-links-container {
  color: #B7B6E1;
}

nav .profile-settings-container .avatar {
  border-radius: 50%;
  width: 40px;
}

.icon-colour-white {
  color: #ffffff;
}

nav .nav-links-container {
  text-decoration: none;
  list-style: none;
  column-gap: 20px;
}

/*Side bar*/
.page-container {
  height: 100%;
}

.sidebar,
.content-area {
  padding: variables.$spacing-large;
}

.sidebar-item-padding-left-right {
  padding: 0 0.7em;
}

.sidebar-item-padding-margin {
  padding: 0.5em 0.7em;
  margin-bottom: 0.1em;
}

mat-sidenav-container .sidebar-top-content.active {
  background-color: #EBEBEB;
}

mat-sidenav-container .sidebar-top-content {
  //padding: 0.5em 0.7em;
  border-radius: 0.8em;
  //margin-bottom: 0.1em;
}

mat-sidenav-container .sidebar-top-content.flex {
  justify-content: space-between;
}

.top-links-info-container.flex {
  gap: 10px;
}

.top-links-number-container {
  background-color: #D3D3D3;
  padding: 0 0.8em;
  border-radius: 0.7em;
}

.sidebar-person-element img {
  width: 40px;
  border-radius: 50%;
}

.sidebar-person-element-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.teams-sidebar-section .flex {
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
}

.sidebar-teams-icon-container {
  background-color: #DDDCF6;
  padding: 0.5em;
  border-radius: 0.8em;
}

//had to override this weird height thing on side bar breaking grid commands
.mat-drawer-content {
  height: auto;
}

.mat-drawer-container {
  background-color: #F5F5F5;
}

/*page main content*/
.page-container .content-area {
  background-color: #F8F8FA;
}

.on-track-colour {
  color: #1DB510;
}
.on-track-bg-colour {
  background-color: #F5FFF8;
}
.off-track-colour {
  color: #E03131;
}
.off-track-bg-colour {
  background-color: #FFF2F2;
}
.achieved-colour {
  color: #1B6215;
}
.achieved-bg-colour {
  background-color: #F2FFF5;
}

.state-bg {
  padding: 0.3em;
  border-radius: 0.3em;
}

.draggable-list-container {
  width: 100%;
}

.okr-table-grid {
  display: grid;
  grid-template-columns: 4fr repeat(5, 1fr);
}

.okr-headings-container {
  padding: 12px 24px;
  //color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 500;
}

.centre-align-text {
  text-align: center;
}

.example-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  //overflow: hidden;
}

.example-box {
  padding: 12px 24px;
  color: rgba(0, 0, 0, 0.87);
  //display: flex;
  //flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: move;
  background: white;
  font-size: 14px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(99, 99, 99, 0.2);
  -moz-box-shadow: 0 2px 5px 0 rgba(99, 99, 99, 0.2);
  box-shadow: 0 2px 5px 0 rgba(99, 99, 99, 0.2);
}

.inner-okr-key-result-row {
  margin-left: 48px;
  width: calc(100% - 48px);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.flex-okr-expand-collapse {
  display: flex;
  align-items: center;
}


/* Utility Classes */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-only {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid {
  display: grid;
  //grid-gap: 20px;
  grid-template-columns: 15% 85%;
}

.InputRow {
  display: flex;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
}