@use 'variables';

:host {
  display: flex;
  padding: variables.$spacing-small variables.$spacing-xxsmall;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.12);


  &[alert-type='error'] {
    background-color: variables.$colour-alert-bg-error;
  }

  &[alert-type='warning'] {
    background-color: variables.$colour-alert-bg-warning;
  }

  &[alert-type='info'] {
    background-color: variables.$colour-alert-bg-info;
  }

  &[alert-type='success'] {
    background-color: variables.$colour-alert-bg-success;
  }
}

.Icon {
  padding-right: variables.$spacing-small;

  &[type="error_outline"] {
    color: variables.$font-colour-danger;
  }

  &[type="check_circle"] {
    color: variables.$font-colour-success;
  }
}