/* Font Weight */
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Font Size */
$font-xxxxxlarge: 64px;
$font-xxxxlarge: 56px; //3
$font-xxxlarge: 45px; //2
$font-xxlarge: 34px; //1
$font-xlarge: 24px; // headline
$font-large: 20px; // title
$font-xmid: 16px; //subheading
$font-mid: 14px; //body
$font-small: 12px; // caption
$font-xsmall: 8px;
$font-input: auto;

/* Spacing */
$spacing-none: 0;
$spacing-xxxsmall: 4px;
$spacing-xxsmall: 8px;
$spacing-xsmall: 12px;
$spacing-small: 16px;
$spacing-mid: 24px;
$spacing-large: 32px;
$spacing-xlarge: 48px;
$spacing-xxlarge: 64px;
$spacing-xxxlarge: 72px;
$spacing-xxxxlarge: 96px;

/* Breakpoints */
$breakpoint-mobile: 660px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1200px;

/* Heights */
$bottom-bar-height: 32px;
$logged-out-nav-height: 50px;
$logged-out-nav-height-desktop: 70px;
$logged-out-footer-height: 50px;

/* Radius */
$border-radius: 10px;

/* Widths */
$page-width:  100%;
$page-width-tablet: 95%;
$page-width-desktop: 1200px;
$max-page-width: 1200px;

/* z-Index */
$bottom-bar-z-index: 500;
$logged-out-nav-z-index: 500;

/* Colours */
$colour-primary: #835aff;
$colour-accent: #f3555b;
$colour-dark: #181818;
$colour-dark-grey: #545454;
$colour-light-grey: #bbbbbb;
$colour-xlight-grey: rgba(24, 24, 24, 0.12);
$colour-white: #f6f6f5;
$colour-green: #34d39d;
$colour-red: #f04d62;
$colour-blue: #01d0ea;
$colour-orange: #ffbf2f;
$colour-divider: rgba(24, 24, 24, 0.12);
$colour-hover: rgba(24, 24, 24, 0.05);
$colour-active: rgba(24, 24, 24, 0.1);

$colour-light-red: #fdedee;
$colour-light-orange: #fff9e9;
$colour-light-blue: #e6fafd;
$colour-light-green: #eafbf6;

$colour-light-bg: #f8f8fa;
$colour-white-bg: white;
$colour-light-bars: #f5f5f5;

/* Alert Colours */
$colour-alert-bg-error: $colour-light-red;
$colour-alert-bg-warning: $colour-light-orange;
$colour-alert-bg-info: $colour-light-blue;
$colour-alert-bg-success: $colour-light-green;

/* Font Colours */
$font-colour-primary: $colour-primary;
$font-colour-accent: $colour-accent;
$font-colour-dark: $colour-dark;
$font-colour-grey: $colour-dark-grey;
$font-colour-mid: $colour-light-grey;
$font-colour-white: $colour-white;
$font-colour-success: $colour-green;
$font-colour-danger: $colour-red;
$font-colour-info: $colour-blue;
$font-colour-warning: $colour-orange;

$border: $colour-divider solid 1px;