@use 'breakpoints';
@use 'spacing';
@use 'variables';
@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontConfig: (
        display-4: mat.define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
        display-3: mat.define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
        display-2: mat.define-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
        display-1: mat.define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
        headline: mat.define-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
        title: mat.define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
        subheading-2: mat.define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
        subheading-1: mat.define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
        body-2: mat.define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
        body-1: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
        button: mat.define-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
        caption: mat.define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
        input: mat.define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: variables.$font-colour-dark;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
        base:              black,
        divider:           $dark-dividers,
        dividers:          $dark-dividers,
        disabled:          $dark-disabled-text,
        disabled-button:   rgba($dark-text, 0.26),
        disabled-text:     $dark-disabled-text,
        elevation:         black,
        secondary-text:    $dark-accent-text,
        hint-text:         $dark-disabled-text,
        accent-text:       $dark-accent-text,
        icon:              $dark-accent-text,
        icons:             $dark-accent-text,
        text:              $dark-primary-text,
        slider-min:        $dark-primary-text,
        slider-off:        rgba($dark-text, 0.26),
        slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: variables.$font-colour-white;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
        base:              $light-text,
        divider:           $light-dividers,
        dividers:          $light-dividers,
        disabled:          $light-disabled-text,
        disabled-button:   rgba($light-text, 0.3),
        disabled-text:     $light-disabled-text,
        elevation:         black,
        hint-text:         $light-disabled-text,
        secondary-text:    $light-accent-text,
        accent-text:       $light-accent-text,
        icon:              $light-text,
        icons:             $light-text,
        text:              $light-text,
        slider-min:        $light-text,
        slider-off:        rgba($light-text, 0.3),
        slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    variables.$colour-light-bg;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(variables.$colour-dark, 20%);
$dark-bg-alpha-4:     rgba(variables.$colour-dark, 0.04);
$dark-bg-alpha-12:    rgba(variables.$colour-dark, 0.12);

$mat-light-theme-background: (
        background:               $light-background,
        status-bar:               $light-bg-darker-20,
        app-bar:                  $light-bg-darker-5,
        hover:                    $dark-bg-alpha-4,
        card:                     $light-bg-lighter-5,
        dialog:                   $light-bg-lighter-5,
        tooltip:                  $dark-bg-tooltip,
        disabled-button:          $dark-bg-alpha-12,
        raised-button:            $light-bg-lighter-5,
        focused-button:           $dark-focused,
        selected-button:          $light-bg-darker-20,
        selected-disabled-button: $light-bg-darker-30,
        disabled-button-toggle:   $light-bg-darker-10,
        unselected-chip:          $light-bg-darker-10,
        disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #181818;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(variables.$colour-light-bg, 0.04);
$light-bg-alpha-12:   rgba(variables.$colour-light-bg, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
        background:               $dark-background,
        status-bar:               $dark-bg-lighter-20,
        app-bar:                  $dark-bg-lighter-5,
        hover:                    $light-bg-alpha-4,
        card:                     $dark-bg-lighter-5,
        dialog:                   $dark-bg-lighter-5,
        tooltip:                  $dark-bg-lighter-20,
        disabled-button:          $light-bg-alpha-12,
        raised-button:            $dark-bg-lighter-5,
        focused-button:           $light-focused,
        selected-button:          $dark-bg-lighter-20,
        selected-disabled-button: $dark-bg-lighter-30,
        disabled-button-toggle:   $dark-bg-lighter-10,
        unselected-chip:          $dark-bg-lighter-20,
        disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat.core($fontConfig);

// Theme Config

$primary-lighter-colour: #daceff;
$primary-darker-colour: #daceff;

body {
  --primary-color: variables.$font-colour-primary;
  --primary-lighter-color: $primary-lighter-colour;
  --primary-darker-color: $primary-darker-colour;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}
$mat-primary: (
        main: variables.$font-colour-primary,
        lighter: $primary-lighter-colour,
        darker: $primary-darker-colour,
        200: variables.$font-colour-primary, // For slide toggle,
        contrast : (
                main: $light-primary-text,
                lighter: $dark-primary-text,
                darker: $light-primary-text,
        )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$accent-lighter-colour: #fbccce;
$accent-darker-colour: #ed3b40;

body {
  --accent-color: variables.$colour-accent;
  --accent-lighter-color: $accent-lighter-colour;
  --accent-darker-color: $accent-darker-colour;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}
$mat-accent: (
        main: variables.$colour-accent,
        lighter: $accent-lighter-colour,
        darker: $accent-darker-colour,
        200: variables.$colour-accent, // For slide toggle,
        contrast : (
                main: $dark-primary-text,
                lighter: $dark-primary-text,
                darker: $light-primary-text,
        )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$warn-lighter-colour: #fbcad0;
$warn-darker-colour: #e9344;

body {
  --warn-color: variables.$colour-red;
  --warn-lighter-color: $warn-lighter-colour;
  --warn-darker-color:$warn-darker-colour;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}
$mat-warn: (
        main: variables.$colour-red,
        lighter: $warn-lighter-colour,
        darker: $warn-darker-colour,
        200: variables.$colour-red, // For slide toggle,
        contrast : (
                main: $dark-primary-text,
                lighter: $dark-primary-text,
                darker: $light-primary-text,
        )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);
;

$theme: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
        is-dark: false,
        foreground: $mat-light-theme-foreground,
        background: $mat-light-theme-background,
);
$altTheme: (
        primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
        is-dark: true,
        foreground: $mat-dark-theme-foreground,
        background: $mat-dark-theme-background,
);

// Theme Init
@include mat.all-component-themes($theme);

.theme-alternate {
  @include mat.all-component-themes($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons', serif;
  .mat-badge-content {
    font-family: 'Roboto', serif;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: variables.$colour-light-bg;

}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: variables.$colour-light-bg; }

.HideMobile {
  @include breakpoints.mobile() {
    display: none !important;
  }
}

.HideTablet {
  @include breakpoints.tablet() {
    display: none !important;
  }
}

.HideDesktop {
  @include breakpoints.desktop() {
    display: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 2px !important;
}

* {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .5);
  }
}
