@use 'breakpoints';
@use 'spacing';
@use 'variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: variables.$colour-light-bg;
}

.HideMobile {
  @include breakpoints.mobile() {
    display: none !important;
  }
}

.HideTablet {
  @include breakpoints.tablet() {
    display: none !important;
  }
}

.HideDesktop {
  @include breakpoints.desktop() {
    display: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: black !important;
}

//.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
//  border-width: 1px !important;
//}