@use '../../variables';

:host {
  display: flex;
  padding: variables.$spacing-mid variables.$spacing-mid;
  align-items: center;
  border-radius: 5px;


  &[alert-type='error'] {
    background-color: variables.$colour-alert-bg-error;
  }

  &[alert-type='warning'] {
    background-color: variables.$colour-alert-bg-warning;
  }

  &[alert-type='info'] {
    background-color: variables.$colour-alert-bg-info;
  }

  &[alert-type='success'] {
    background-color: variables.$colour-alert-bg-success;
  }

  animation: ease-in-out 400ms animate-fade;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}