@use '../../variables';

:host {
  display: flex;
  align-items: center;
  border-radius: 5px;

  &[padding="small"] {
    padding: variables.$spacing-small variables.$spacing-small;
  }

  &[padding="mid"] {
    padding: variables.$spacing-mid variables.$spacing-mid;
  }

  &[alert-type='error'] {
    background-color: variables.$colour-alert-bg-error;
  }

  &[alert-type='warning'] {
    background-color: variables.$colour-alert-bg-warning;
  }

  &[alert-type='info'] {
    background-color: variables.$colour-alert-bg-info;
    border: darken(variables.$colour-alert-bg-info, 5%) 1px solid;
  }

  &[alert-type='success'] {
    background-color: variables.$colour-alert-bg-success;
  }

  animation: ease-in-out 400ms animate-fade;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}