@use "../../../variables";
@use "../../../mixins";

:host {
  display: flex;
  margin-top: variables.$spacing-xsmall;
  align-items: center;
}

.Container {
  @include mixins.BoxBorder();

  min-height: variables.$objective-item-height;
  padding: variables.$spacing-mid;
  background-color: variables.$colour-white;
}