@use "../../../variables";

:host {
  display: block;
  width: 100%;
}

.TeamSelectTrigger {
  border-bottom: variables.$border;
  padding: variables.$spacing-xsmall;
  cursor: pointer;
}

.TeamSelectTrigger:hover {
  background-color: variables.$colour-hover;
}

.MatMenuHeader {
  padding: variables.$spacing-xxsmall variables.$spacing-small variables.$spacing-xsmall;
}

.TeamSelectList {
  max-height: 300px;
  overflow-y: auto;
}

.AddButton {
  padding-right: variables.$spacing-xsmall;
}


.EmptyTeams {
  max-width: 150px;
}

.Empty {
  padding: variables.$spacing-small;
}