@use "../../../variables";
@use "../../../mixins";

:host {
  display: block;
  width: 100%;
}

.TeamSelectTrigger {
  @include mixins.Clickable(variables.$colour-hover);
  border-bottom: variables.$border;
  padding: variables.$spacing-xsmall;
}

.MatMenuHeader {
  padding: variables.$spacing-xxsmall variables.$spacing-small variables.$spacing-xsmall;
}

.TeamSelectList {
  max-height: 300px;
  overflow-y: auto;
}

.AddButton {
  padding-right: variables.$spacing-xsmall;
}

.EmptyTeams {
  max-width: 150px;
}

.Empty {
  padding: variables.$spacing-small;
}