@use "../../variables";
@use "../../breakpoints";

:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: variables.$logged-out-nav-height;
  background-color: rgba(variables.$colour-light-bg, 0.95);

  @include breakpoints.tablet() {
    height: variables.$logged-out-nav-height-desktop;
  }
}

.Actions {
  display: flex;
  align-items: center;
}

.NameLogo {
  cursor: pointer;
}