@use "../../../variables";

:host {
  display: block;

  &[data-border-top="true"] {
    border-top: variables.$border;
  }

  &[data-border-bottom="true"] {
    border-bottom: variables.$border;
  }
}

.Title {
  padding: variables.$spacing-xsmall variables.$spacing-small;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 variables.$spacing-small;
  min-height: variables.$spacing-xxlarge;
}

.Empty {
  margin: 0 variables.$spacing-small;
  min-height: variables.$spacing-xxlarge;
}

.BoardsList {
  max-height: 200px;
  overflow-y: auto;
}

.SideBarActive {
  background-color: variables.$colour-active !important;
}